<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not found</title>
    <link rel="stylesheet" href="/CSS/main.css">


    <!-- Setup the page icon -->
    <link rel="icon" href="https://cdn.discordapp.com/attachments/627125017020334140/725375732611678238/MOMOTARO.png" type = "image/x-icon">


</head>
<body>

    <header class="main-header">

        <nav class="main-header__nav">

            <ul class="main-header__item-list">
                <li class="main-header__item"> <a href = "/">Game</a> </li>
            </ul>

        </nav>

    </header>

    <h1>404, page not found</h1>
</body>
</html>