<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Momotaro</title>
    
    <!-- Character format (UTF-8 supports nearly all characters) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Set up the front-side scripts -->
    <script src="p5/p5.js"></script>
    <script src="p5/addons/p5.sound.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/main.css">
    
    <!-- Setup the page icon -->
    <link rel="icon" href="https://cdn.discordapp.com/attachments/627125017020334140/725375732611678238/MOMOTARO.png" type = "image/x-icon">

  </head>
  <body>

    <!-- Set up the front-side scripts -->
    <script src="GameCode/main.js"></script>
    
    <!-- The extras such as the login menu and the classes -->
    <script src="GameCode/Services/login.js"></script>
    <script src="GameCode/Services/signup.js"></script>
    <script src="GameCode/Services/serverRequests.js"></script>
    <script src="GameCode/lib/classes.js"></script>
    <script src ="GameCode/lib/levelSystem.js"></script>
    <script src ="GameCode/lib/functions.js"></script>
    <script src ="GameCode/lib/HoldMarketClasses.js"></script>

    <!-- The stages of the user interface -->
    <script src="GameCode/UI/Map.js"></script>    
    <script src ="GameCode/UI/main.js"></script>
    <script src ="GameCode/UI/market.js"></script>
    <script src ="GameCode/UI/storage.js"></script>
    <script src ="GameCode/UI/configuration.js"></script>
    <script src ="GameCode/UI/recipes.js"></script>

    <script src ="GameCode/UI/friends.js"></script>
    <script src ="GameCode/UI/friendsList.js"></script>
    <script src ="GameCode/UI/friendsPending.js"></script>
    <script src ="GameCode/UI/friendsRequests.js"></script>

    <script src="GameCode/Stages/Decoration.js"></script>
    <script src="GameCode/Stages/Cook.js"></script>
    <script src="GameCode/Stages/Restaurant.js"></script>
    <script src="GameCode/Stages/SettingTheRestaurant.js"></script>
    <script src="GameCode/Stages/Npc.js"></script>
    <script src="GameCode/Stages/leaderboard.js"></script>
    <script src="GameCode/Stages/FriendRestaurant.js"></script>

    <!-- The setups files of the game -->
    <script src="GameCode/Setup/main.js"></script>
    <script src="GameCode/Setup/LoginAndSignup.js"></script>
    <script src="GameCode/Setup/restaurant.js"></script>
    <script src="GameCode/Setup/images.js"></script>
    
  </body>
</html>
