<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Momotaro</title>
    
    <!-- Set up the front-side scripts -->
    <script src="p5/p5.js"></script>
    <script src="p5/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/main.css">
    <meta charset="utf-8" />

  </head>
  <body>

    <!-- Set up the front-side scripts -->
    <script src="GameCode/main.js"></script>
    
    <!-- The extras such as the login menu and the classes -->
    <script src="GameCode/Services/login.js"></script>
    <script src="GameCode/Services/signup.js"></script>
    <script src="GameCode/Services/serverRequests.js"></script>
    <script src="GameCode/lib/classes.js"></script>
    <script src ="GameCode/lib/levelSystem.js"></script>

    <!-- The stages of the user interface -->
    <script src ="GameCode/UI.js"></script>
    <script src="GameCode/Stages/Decoration.js"></script>
    <script src="GameCode/Stages/Cook.js"></script>
    <script src="GameCode/Stages/Restaurant.js"></script>
    <script src="GameCode/Stages/SettingTheRestaurant.js"></script>
    <script src="GameCode/Stages/Map.js"></script>
    <script src="GameCode/Stages/leaderboard.js"></script>

    <!-- The setups files of the game -->
    <script src="GameCode/Setup/main.js"></script>
    <script src="GameCode/Setup/LoginAndSignup.js"></script>
    <script src="GameCode/Setup/restaurant.js"></script>
    <script src="GameCode/Setup/images.js"></script>
    
  </body>
</html>
