body{
    padding: 0;
    margin: 0;
}

main{
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 56px;
    background-color: rgb(200, 0, 0); 
    padding: 0 1.5rem;
}

.main-header__item-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-header__item{
    margin: 0;
    padding: 0 1.5rem;
}

.main-header__item a{
    text-decoration: none;
    color: white;
}

.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: rgb(211, 248, 0);
}